*{
    padding: 0;
    margin: 0;
}

:root{
    --primary:#37517E;
}

.firstscreen, .fs{
    background-color: var(--primary);
}

.animate-image{
    animation: move 1.5s linear infinite alternate-reverse;
}

@keyframes move {
    from{
        transform: translateY(0);
    }to{
        transform: translateY(-30px);
    }
    /* 0%{
        transform: rotate(360deg)
    }

    50%{
        transform: translateX(-30px);
       scale: 1.1;
    }
    100%{
        transform: translateX(30px);
       
    } */
}

.black-white{
    filter: grayscale(100%);
    transition: all 1s;
}

.black-white:hover{
    filter: grayscale(0);
    scale: 1.1;
}

.aboutus,.servies{
    color: #37517E;
    text-align: center;    
}

.acc{
    color: var(--primary);
}

.underline{
    width: 200px;
    height: 1px;
    background-color: gray;
    margin: auto;
    position: relative;
}

.blue{
    width: 40%;
    height: 3px;
    background-color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.boldd{
    font-weight: 500;
}

.headings{
    color: var(--primary);
    font-weight: 700;
}

.para-italic{
    font-style: italic;
}

.underlines{
    width: 100px;
    height: 2px;
    background-color: lightgray;
    margin: auto;
    position: relative;
}

.blues{
    width: 45%;
    height: 4px;
    background-color: #37517E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cardss{
    justify-content: center;

}


.my-image{
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url('https://bootstrapmade.com/demo/templates/Arsha/assets/img/cta-bg.jpg') fixed center center;
    background-size: cover;
}

.subs-input
{
    position: relative;
}

.subs-btn{
    position: absolute;
    
}